@use '../../styles/abstracts/variables' as *;

.cui-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    vertical-align: middle;
    color: currentColor;

    // SVG 아이콘 스타일
    svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
        stroke: currentColor;
    }

    // background 이미지 스타일
    &--background {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
